<h1>Create a Student</h1>
<form action="/students" method="POST">
  
  <label>Name</label>
    <input type="TEXT" name="name" /><br>
    
  <label>Tagline</label>
    <input type="TEXT" name="tagline" /><br>

  <label>Bio</label>  
    <input type="TEXT" name="bio" /><br>

  <label>Twitter</label>  
    <input type="TEXT" name="twitter" /><br>     

    <button type="submit">Make Your Student</button>       
</form>
    







